body{
    color:white;
    margin:0px;
    padding: 0px;
    background:url('bk2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Balsamiq Sans', cursive;
}
.left{
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 20px;
}
.left img{
    width: 90px;;
}
.left div{
    text-align: center;
    font-size: 16px;
}
.mid{
    text-shadow: 0px 1px;
    display: block;
    width: 40%;
    margin: 15px auto;
}
.right{
    
    position: absolute;
    top: 15px;
    right: 15px;
    display: inline-block; 
}
.btn{
    margin: 0px 9px;
    background-color: rgb(77, 64, 64);
    color: white;
    padding: 6px 11px;
    border: 2px black solid;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Balsamiq Sans', cursive;
}
.btn:hover{
    background-color: rgb(107, 85, 85);
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 20px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 12px;
    
}
.navbar li a:hover, .navbar li a.active{
    color: rgb(166 206 210);
    text-decoration: underline;
    
}
.container{
    border-radius: 5px;
    border: 1px white solid;
    margin: 93px 90px;
    width: 364px;
    padding: 40px;
}
.forms input{
    text-align: center;
    display: block;
    width: 350px;
    padding: 10px;
    border: 2px rgb(16 16 16) solid;
    margin: 10px auto;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Balsamiq Sans', cursive;
}
.container h1{
    text-align: center;
}
.container button{
    font-size: 21px;
    margin: 31px 110px;
    width: 159px;
    display: block;
}